<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
    <link rel="stylesheet" th:href="@{/css/estudiante.css}">
</head>

<body>

    <section layout:fragment="content">
        <header class="admin-header">
            <h1 class="admin-title">Mantenimiento de Estudiante</h1>
        </header>

        <div class="content-container">
            <a th:href="@{/estudiantes/nuevo}" class="action-button"><i class="fas fa-plus-circle"></i> Nuevo
                Estudiante</a>
            <br><br>

            <form id="searchForm" th:action="@{/estudiantes/buscar}" method="get">
                <div class="input-wrapper">
                    <i class="fas fa-search"></i>
                    <input type="text" name="nombre" id="searchInput" placeholder="Buscar por nombre o apellido"
                        th:value="${nombre}">
                </div>
                <button type="submit"><i class="fas fa-search"></i> Buscar</button>
            </form>

            <div class="cards-container" id="estudiantesCards">
                <div class="student-card" th:each="e : ${estudiantes}" th:data-id="${e.id}">
                    <h3 th:text="${e.nombre + ' ' + e.apellido}">Nombre Apellido</h3>
                    <p th:text="'DNI: ' + ${e.dni}">DNI</p>
                    <div class="actions">
                        <a th:href="@{'/estudiantes/editar/' + ${e.id}}" class="card-action-button"><i
                                class="fas fa-edit"></i> Editar</a>
                    </div>
                </div>
            </div>

            <div class="pagination" id="paginationControls"></div>
        </div>

        <script th:src="@{/js/estudiante.js}"></script>
    </section>
</body>

</html>